@media (min-width: 1200px) {}

@media only screen and (max-width: 992px) {

    /* Carousel Index Image */
    .carousel-inner>.carousel-item>img {
        width: 950px;
        margin-left: 20px;
        transition: 0.3s all ease;
    }

    .carousel-caption {
        font-size: 15px;
        transition: 0.3s all ease;
    }

    .swiper-wrapper .swiper-slide {
        margin-left: 150px;
    }

    .social a {
        font-size: 4em;
        padding: 2rem;
    }

    .textDisc {
        margin-left: 60px;
        margin-top: 50px;
    }

    .textDisc2 {
        margin-left: 60px;
        margin-top: 50px;
    }

    .textDisc3 {
        margin-left: 60px;
        margin-top: 50px;
    }
}

@media (max-width: 870px) {

    /* Carousel Index Image */
    .carousel-inner>.carousel-item>img {
        width: 830px;
        margin-left: 20px;
        transition: 0.3s all ease;
    }

    .carousel-caption {
        font-size: 12px;
        transition: 0.3s all ease;
    }

    .container:before {
        content: '';
        position: absolute;
        width: 1000px;
        height: 1000px;
        border-radius: 50%;
        background: linear-gradient(-45deg, #E75721, #F15A22);
        top: 10%;
        right: 0;
        transform: translate(-100%, -40%);
        z-index: 6;
        transition: 1.8s ease-in-out;
    }

    /* Animation */
    .container.sign-up-mode:before {
        transform: translate(20%, -50%);
        left: 5%;
    }

    .container.sign-up-mode .right-panel .content {
        transform: translate(10%, -50%);
    }

    .input-field .icons {
        text-align: center;
        line-height: 55px;
        color: #acacac;
        transition: 0.5s;
        font-size: 1.1rem;
        margin-left: 15px;
        margin-top: 18px;
    }

    .input-field input {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: .8rem;
        color: #333;
        margin-left: 10px;
    }

    .social-icon {
        height: 30px;
        width: 30px;
        border: 1px solid black;
        margin: 0 0.45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #333;
        font-size: 1.1rem;
        border-radius: 50%;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 768px) {

    /* Carousel Index Image */
    .carousel-inner>.carousel-item>img {
        width: 700px;
        margin-left: 20px;
        transition: 0.3s all ease;
    }

    .swiper-wrapper .swiper-slide {
        margin-left: 150px;
    }

    .textDisc,
    .textDisc2,
    .textDisc3 {
        margin-left: 50px;
        margin-top: 40px;
    }

    .carousel-caption {
        top: 45%;
    }

    .carousel-caption h1 {
        font-size: 350%;
    }

    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }

    .carousel-caption .btn {
        font-size: 95%;
        padding: 10px 14px;
    }

    .display-4 {
        font-size: 150%;
    }

    .social a {
        font-size: 2.5em;
        padding: 2rem;
    }

    .carousel-indicators {
        display: none;
    }

    .col-6 .nav-itemUser {
        margin-left: 170px;
        position: absolute;
        margin-top: -10px;
    }

    .col-6 .nav-itemBasket {
        margin-left: 120px;
        position: absolute;
        margin-top: -10px;
    }

    /* Brand Slider */
    .carousel-cell3 {
        margin-left: 100px;
        margin-top: 250px;
        width: 30%;
        height: 180px;
    }

    .img-set3 {
        width: 130%;
        height: 180px;
        margin-left: -20px;
    }

    .container-fluid-brandSlider {
        margin-top: -240px;
    }


}

@media only screen and (max-width: 576px) {

    /* Carousel Index Image */
    .carousel-inner>.carousel-item>img {
        width: 540px;
        margin-left: 20px;
        transition: 0.3s all ease;
    }

    .carousel-caption {
        font-size: 10px;
        transition: 1s all ease;
    }

    .textDisc,
    .textDisc2,
    .textDisc3 {
        margin-left: 220px;
        margin-top: 80px;
    }

    .socialContent2 li {
        display: none;
    }

    .date span {
        opacity: 0;
    }

    form {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }

    .container:before {
        bottom: 72%;
        left: 50%;
    }

    .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }

}

@media (max-width: 360px) {

    /* Carousel Index Image */
    .carousel-inner>.carousel-item>img {
        width: 360px;
        margin-left: 0;
        transition: 0.3s all ease;
    }

    .carousel-caption {
        font-size: 8px;
        transition: 0.3s all ease;
    }
}


/*
    Extra small (xs) devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap

    Small (sm) devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    Medium (md) devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }

    Large (lg) devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }

    Extra (xl) large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }
    */