
@font-face {
    font-family: "TT Norms Pro";
    src: url('./fonts/TT_Norms_Pro_Medium.otf') format('embedded-opentype'),
    url('./fonts/TT_Norms_Pro_Medium.otf') format('opentype');
}

.nav-link{
    font-family: "TT Norms Pro";
    font-size: 14px;   
    letter-spacing: 0.2em;        
}

.nav-link:hover{
    color: white;
}

.link_home{
    color: white; 
}

.nav-link:hover{
    color: white;
}

.link_product,.link_store,.link_contact{
    color: rgb(165, 165, 165); 
}

.head_orange{
    background-color: #F15B28;
    width: 500px;
    height: 30px;
    border-radius: 20px;
    margin-top: -30px;
}

.navbar{
    background-color: #161C33;
}

.navbar-nav{
    margin-top: -20px;
}