.list-group-item:hover{
    background-color: #161C33; 
    color: white;
}

.panel-title{
    color: white; 
    height: 40px; 
    font-size: 13px; 
    background-color: #161C33;
    text-align: center;
    padding-top: 12px;
    font-size: 12px;
}

.panel_title_brand{
    color: white; 
    height: 40px; 
    font-size: 13px; 
    background-color: #161C33;
    text-align: center;
    padding-top: 12px;
    font-size: 15px;
}

.list-group-item{
    border-radius: none; border: none;
}

.panel-group{
    background-color: whitesmoke;
}